<div class="chat-header">
  <div class="chat-header-height" fxLayoutAlign="center center">
    <div class="search-box" fxLayout="row" fxLayoutAlign="center center">
      <input
        type="text"
        placeholder="Search name"
        name="search"
        [(ngModel)]="searchName"
        autocomplete="off"
      />
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >search</mat-icon
      >
    </div>
  </div>
</div>
<div class="contact-list" fxLayout="row wrap">
  <div fxLayout="row" *ngIf="userlist?.length == 0">
    <span>There is no contacts</span>
  </div>
  <div
    class="w-100 contact-row"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    *ngFor="let item of userlist | filter: searchName; let i = index"
    (click)="getLogs(item)"
  >
    <div fxLayout="row">
      <div class="profile-pic">
        <span
          class="active-badge"
          [ngClass]="{
            active: item.status === 'active',
            inactive: item.status === 'inactive'
          }"
        ></span>
        <span class="name-pro-pic" *ngIf="!item['_links']?.avatar.href"
          >{{ item.first_name[0] }}{{ item.last_name[0] }}</span
        >
        <img src="{{ item['_links']?.avatar.href }}" alt="" />
      </div>
      <div class="profile-details" fxLayout="column ">
        <h3>{{ item?.first_name }} {{ item?.last_name }}</h3>
        <span>test description </span>
      </div>
    </div>
    <div fxLayoutAlign="center center" fxLayout="column " class="msg-det">
      <span class="time-zone"> 00:07 pm </span>
      <span class="badge-icon">1</span>
    </div>
  </div>
</div>
