<div class="chat-header">
  <div class="user-detail-header" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="profile-pic">
        <img
          src="https://lh3.googleusercontent.com/proxy/KwTJapCtcjYxSitWIMWqgDmE0VuH9wpN2tvO3kGaiqZDEUogfVmvHFR2Ua6jpUiR_A8YoFZVE1MrWgmy6zM4_ZzHR7Ychu2Z_itvk4aK0E3FsgQAvQ"
          alt=""
        />
      </div>
      <div class="profile-details" fxLayout="column ">
        <h3>paulson ps</h3>
        <span> <b>trivandrm .</b> march 18 2020 </span>
      </div>
    </div>
    <div class="icon-right" fxLayout="row">
      <button mat-button><mat-icon>call</mat-icon></button> <button mat-button><mat-icon>more_vert</mat-icon></button>
    </div>
  </div>
</div>
