<div class="chat-room-layout" fxLayout="column ">
  <div class="h-100">
    <div
      class="contact-list-layout"
      fxFlex.lt-md="40"
      fxFlex.lt-lg="30"
      fxFlex.lt-sm="100"
      fxFlex="25"
    >
      <app-chat-contact-list
        (selectedContact)="selectedContactDetails($event)"
      ></app-chat-contact-list>
    </div>
    <div
      class="contact-list-layout"
      fxFlex.lt-lg="70"
      fxFlex.lt-md="60"
      fxShow.lt-sm="100"
      fxFlex="75"
    >
      <app-chat-area [selectedContact]="selectedContact"></app-chat-area>
    </div>
  </div>
</div>
