/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 25px 0 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  background: #7c89fc;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.chat-container {
  .mat-drawer-container {
    height: 100vh;
    background-color: transparent !important;
  }
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent !important;
  }
}
